#!/bin/sh

source ~/.env.zsh

# Settings
~/.screenlayout/monitor.sh &
xset s off
setxkbmap fr

# Apps
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
picom -b --config ~/.config/picom/picom.conf &
sxhkd &
dunst &
nitrogen --restore &
unclutter --timeout 2 &
udiskie -A --notify --smart-tray &
nm-applet &
