window {
  width: 20%;
}
/*
mainbox {
  children: [listview];
}
*/
inputbar {
  children: [ prompt ];
  padding: 10 0 10 10;
}

entry {
  enabled: false;
}

listview {
	lines: 6;
}

element {
  children: [ element-text ];
}
